.DietWrapper {
    display: flex;
      flex-direction: column;
    align-items: center;
    justify-content: center;
}
.DietWrapperMealNumber {
  flex: 0.6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.DietWrapperMealNumber > div:first-child {
  display: flex;
  flex-direction: row;
}
.DietWrapperType {
  flex: 0.4;
}