@import url('https://fonts.googleapis.com/css?family=Poppins:900i');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.LifeWrapper {}

.LifeObjectsNeeded {
    position: absolute;
    width: 400px;
    right: 0;
    top: 20%;
    margin: 25px;
    padding: 10px;
    background-color: rgba(64, 35, 146, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 3px solid #D4C11F;
    max-height: 400px;
    min-height: 400px;
    overflow-x: hidden;
}
.LifeObjectsNeeded::-webkit-scrollbar {
    display: none;
}
.LifeObjectsTitle {
    font-size: 30px;
    font-family: "Poppins", "sans-serif";
    color: #D4C11F;
    position: relative;
}
.LifeObjectsTitle::before {
    position: absolute;
    content: "";
    background-color: white;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.LifeObjectsExplained {
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 10px;
    color: white;
}
.LifeObjectsExplainedLeft, .LifeObjectsExplainedRight {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    flex: 0.5;
    font-family: "Anton", "sans-serif";
}
.LifeObjectsExplainedLeft > span, .LifeObjectsExplainedRight > div {
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}
.LifeObjectsExplainedRight > div {
    width: 14px;
    height: 14px;
    border: 1px solid white;
}
#LifeObjectsExplainedBoxRed {
    background-color: rgba(255, 0, 0, 0.4);
}
#LifeObjectsExplainedBoxBlue {
    background-color: rgba(0, 0, 255, 0.4);
}
#LifeObjectsExplainedBoxGreen {
    background-color: rgba(0, 255, 0, 0.4);
}
.LifeObjectsNeededTotal {
    font-family: "Anton", "sans-serif";
    font-size: 30px;
    color: #D4C11F;
}
.LifeObjectsAddObject {
    cursor: url("../../public/assets/custom_cursor_hover.png"), auto!important;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
    font-family: "Anton", "sans-serif";
    color: #D4C11F;
    border: 3px solid white;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgb(0 255 255 / 50%);
    transition: .5s;
    border-radius: 20%;
}
.LifeObjectsAddObject:hover {
    background-color: rgba(0, 255, 255, 0.3)
}