@import url('https://fonts.googleapis.com/css?family=Poppins:900i');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.ToBuyComponent {
    position: absolute;
    width: 400px;
    right: 0;
    top: 20%;
    margin: 25px;
    padding: 10px;
    background-color: rgba(64, 35, 146, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 3px solid #D4C11F;
    max-height: 400px;
    min-height: 400px;
    overflow-x: hidden;
}
.ToBuyComponent::-webkit-scrollbar {
    display: none;
}
.ToBuyComponentTitle {
    font-size: 30px;
    font-family: "Poppins", "sans-serif";
    color: #D4C11F;
    position: relative;
}
.ToBuyComponentTitle::before {
    position: absolute;
    content: "";
    background-color: white;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.ToBuyComponentExplained {
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 10px;
    color: white;
}
.ToBuyComponentExplainedLeft, .ToBuyComponentExplainedRight {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    flex: 0.5;
    font-family: "Anton", "sans-serif";
}
.ToBuyComponentExplainedLeft > span, .ToBuyComponentExplainedRight > div {
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}
.ToBuyComponentExplainedRight > div {
    width: 14px;
    height: 14px;
    border: 1px solid white;
}
#ToBuyComponentExplainedBoxRed {
    background-color: rgba(255, 0, 0, 0.4);
}
#ToBuyComponentExplainedBoxBlue {
    background-color: rgba(0, 0, 255, 0.4);
}
#ToBuyComponentExplainedBoxGreen {
    background-color: rgba(0, 255, 0, 0.4);
}
.ToBuyComponentTotal {
    font-family: "Anton", "sans-serif";
    font-size: 30px;
    color: #D4C11F;
    align-self: flex-start;
    margin-left: 20px;
}
.ToBuyComponentTotalDelivery {
    font-family: "Anton", "sans-serif";
    font-size: 15px;
    color: white;
    align-self: flex-end;
    margin-right: 50px;
}
.ToBuyComponentAddObject {
    cursor: url("../../../../public/assets/custom_cursor_hover.png"), auto!important;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
    font-family: "Anton", "sans-serif";
    color: #D4C11F;
    border: 3px solid white;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgb(0 255 255 / 50%);
    transition: .5s;
    border-radius: 20%;
}
.ToBuyComponentAddObject:hover {
    background-color: rgba(0, 255, 255, 0.3)
}