.ProgramWrapper {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    background-size: 30%;
    background-color: rgba(255,255,255, 0.7);

    max-height: 500px;
    overflow-y:auto;
    overflow-x: hidden;
    flex: .6;
    max-width: 80%;
    position: relative;
    border: 2px solid white;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
    scrollbar-width: 10px;
}
.ProgramWrapper > table {
    border-collapse: collapse;
    font-family: 'Segoe UI', sans-serif;
    overflow: hidden;
    color: #FFFBDD;
}
.ProgramWrapper th, .ProgramWrapper td {
    border: 1px solid #555;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}
.ProgramWrapper th {}
.ProgramWrapper td {}
.ProgramWrapper tr:hover td {
    
}